<%= render '/shared/sidenav' %>
<div class="main-panel">
    <%= render '/shared/topnav' %>
    <p class="pg-title"<a class="navbar-brand" href="#pablo">Instructors</a></p>

    <%= render '/instructors/partials/new_instructor' %>
</div>
    