            <div class="card card-user">
                
                <div class="card-body">
                    <div class="author">
                         <img class="avatar thumb" src="<%= @instructor.avatar %>">
                            <h5><%= @instructor.first_name %>&nbsp;<%= @instructor.last_name %></h5>
                        <p class="description">
                        <%= @instructor.cohort_id %>
                        </p>
                    </div>
                    <p class="description text-center">
                        "Lamborghini Mercy <br>
                        Your chick she so thirsty <br>
                        I'm in that two seat Lambo"
                    </p>
                </div>
                <hr>
                <div class="button-container">
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                        <i class="fab fa-facebook-f"></i>
                    </button>
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                        <i class="fab fa-twitter"></i>
                    </button>
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                        <i class="fab fa-google-plus-g"></i>
                    </button>
                </div>
            </div>
        