<div class="sidebar" data-color="orange">
      <div class="logo">
        <a href="#" class="simple-text logo-mini">
          Co
        </a>
        <a href="#" class="simple-text logo-normal">
          College
        </a>
        
      </div>
      
      <div class="sidebar-wrapper">
      <div class="avatar-wrapper text-center">
      
      <%= image_tag (current_admin.avatar), :class => ("avatar thumb_sm") %>
      <p class="text-white">Hi, <%= current_admin.first_name %></p>
      </div>
      <ul class="nav">
          <li class="active ">
            <a href="/dashboard">
              <i class="now-ui-icons design_app"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
          <a data-toggle="collapse" href="#pagesExamples" class="collapsed" aria-expanded="false"><i class="now-ui-icons users_single-02"></i>
          <p>Users<b class="caret"></b></p></a>
          <div class="collapse" id="pagesExamples" style="">
          <ul class="nav">
            <li>
            <a href="/instructors">
              <i class="now-ui-icons users_single-02"></i>
              <p>Instructors</p>
            </a>
            </li>
            <li>
            <a href="/students">
              <i class="now-ui-icons users_single-02"></i>
              <p>Students</p>
            </a>
            </li>
            </ul>
            </div>
          </li>
          <li>
            <a href="/courses">
              <i class="now-ui-icons location_map-big"></i>
              <p>Courses</p>
            </a>
          </li>
          <li>
            <a href="/cohorts">
              <i class="now-ui-icons ui-1_bell-53"></i>
              <p>Cohorts</p>
            </a>
          </li>
          <li>
            <a href="/tasks">
              <i class="now-ui-icons design_bullet-list-67"></i>
              <p>Tasks</p>
            </a>
          </li>
          <li>
            <a href="./typography.html">
              <i class="now-ui-icons text_caps-small"></i>
              <p>Typography</p>
            </a>
          </li>
          <li class="active-pro">
            <a href="./upgrade.html">
              <i class="now-ui-icons arrows-1_cloud-download-93"></i>
              <p>Upgrade to PRO</p>
            </a>
          </li>
        </ul>
      </div>
    </div>