<div class="card card-user">             
                <div class="card-body">
                    <div class="author">
                    <%= image_tag (@cohort.avatar), :class => ("default thumb") %>
                         
                            <h5><%= @cohort.name %></h5>
                            <p class="description">
                            <div class="table-responsive">
                                <table class="table">
                                <thead class=" text-primary">
                                  <th>Course Name</th>
                                  <th>Instructor Name</th>
                                </thead>
                                <tbody>
                                <tr>
                                <td><%= @cohort.course.name %></td>
                                <td><%= @cohort.instructor.name %></td>
                            </tr>
                            </tbody>
                            </table>
                            </div>
                       </p>
                    </div>
                    
            </div>
            
            