// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pg-title{
    position: absolute;
    left: 2rem;
    line-height: inherit;
    white-space: nowrap;
    top: 13px;
    color: #fff;
    font-size: 1em;
}

.delete .btn-lg {
    padding: 15px 45px;
}