<%= render '/shared/sidenav' %>
<div class="main-panel">
    <%= render '/shared/topnav' %>
    <p class="pg-title"<a class="navbar-brand" href="#pablo">Courses</a></p>
    <%= render '/shared/courses' %>
</div>